.mfooter {
    background-color: rgb(195, 184, 154);
    color: #fefefe;
    position: relative;
    width:100%;
    margin-top: 0;
    /* height: 300px; */
    /* border-radius:30px; */
    /* margin-top:5cm; */
  }
  
  .mfooter .xheading {
    color: #fefefe;
    max-width: 1010px;
    width: 0%;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .mfooter .content {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 0px;
  }
  
  .mfooter .content p {
    margin-bottom: 1.3rem;
  }
  
  .mfooter .content a {
    text-decoration: none;
    color: #fefefe;
  }
  
  .mfooter .content a:hover {
    border-bottom: 1px solid #971717;
  }
  
  .mfooter .content h4 {
    margin: 0rem;
    font-size: 19px;
  }
  
  .mfooter {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .mfooter hr {
    margin: 2rem 0;
  }
  
  @media (max-width: 767px) {
    .footer .content {
      display: flex;
      flex-direction: column;
      font-size: 14px;
    }
    
    .footer {
      position: unset;
    }
  }
  
  @media (min-width: 768px) and (max-width: 1024px) {
    .footer .content,
    .footer {
      font-size: 14px;
    }
  }
  
  @media (orientation: landscape) and (max-height: 500px) {
    .footer {
      position: unset;
    }
  }